#bombee{color: teal}
#bombe{color: teal;
text-align: center;}
#bombee{text-align: center;}
#Amolo{text-align: center;
  color: orange ;
list-style-type: none;}
.b:hover{color: teal;}
#a{color: orange;
text-shadow: 1px 1px 1px;
text-transform: uppercase;}
#a{text-align: center;}
#o{text-align: center;}
.comedy{display: block;
margin-left: auto;
margin-right: auto;
border-radius: 500px}
#button{text-align: center;
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 2px teal;
  box-shadow: 5px 5px 5px teal;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
font-size: 20px}
#button:hover{
background-color:green}
h1::first-letter{font-size: 200%;
color:teal}
.comedy:hover{transform: scale(1.1);}
